<% include ../partials/header %>

<div class="container">
	<h1 class="text-center">Create a New Resource!</h1>
	<div style="width: 100%; margin: 25px auto;">
		<form action = "/resources" method="POST">
			<div class="form-group">
				<input class="form-control" type = "text" maxlength="60" name="name" placeholder="name" required>
			</div>
			<div class="form-group">
				<input class="form-control" type = "number" name="price" placeholder="price" min = "0.01" max = "1000" step="0.01">
			</div>
			<div class="form-group">
				<input class="form-control" type = "text" name="image" placeholder="image url" required>
			</div>
			<div class="form-group">
				<textarea class="form-control" type = "text" name="description" rows="4" placeholder="description" required></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
			</div>
		</form>
		<a href="/resources">Go Back</a>
	</div>
</div>
<% include ../partials/footer %>

