<% include ./partials/header %>

<div class="container">
		<h1 class="text-center">Login</h1>
		<div style="width: 100%; margin: 25px auto;">
			<form action="/login" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" minlength="4" maxlength="16" name="username" placeholder="username">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" minlength="6" maxlength="18" name="password" placeholder="password">
				</div>
				<div class="form-group">
					<input class="btn btn-lg btn-default btn-block btn-primary" type="submit" value = "Login">
				</div>
			</form>
			<a href="/resources">Go Back</a>
		</div>
<% include ./partials/footer %>
</div>