body {
	font-family: 'Roboto', sans-serif;
}

.delete-form {
	display: inline;
}

.front-page-card {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

nav {
	margin-bottom: 16px;
}

.jumbotron {
	margin-bottom: 16px;
}

/* .navButton:hover {
	background: rgb(220,220,220);
} */